<button type="button" class="close" aria-label="Close">
  <section aria-hidden="true">&times;</section>
</button>
{{#each reviews as |review|}}


    <section data-id="{{review.id}}" class="container-fluid">
    <h2>{{review.topic}}</h2>

      <div>{{review.article}}</div>
      <div>Rating: <span class="star-review review-{{review.star}}"></span></div>
      <div>By: Opinionator #{{review.user.id}}</div>

  </section>



{{/each}}
