<button type="button" class="close" aria-label="Close">
  <section aria-hidden="true">&times;</section>
</button>
{{#each reviews as |review|}}


    <section data-id="{{review.id}}" class="container-fluid">
    <h2>{{review.topic}}</h2>

      <div>{{review.article}}</div>
      <div>Rating: {{review.star}}</div>
      <div>By: {{review.user.id}}</div>

  </section>



{{/each}}
