<button type="button" class="close" aria-label="Close">
  <section aria-hidden="true">&times;</section>
</button>
{{#if reviews.length}}
{{#each reviews as |review|}}


    <section data-id="{{review.id}}" class="container-fluid">
    <h2 class="topic">{{review.topic}}</h2>

      <div>{{review.article}}</div>
      <div>Rating: <span class="star-review review-{{review.star}}"></span></div>
      <div>By: Opinionator #{{review.user.id}}. Pssst, this is you!</div>
      <div>Opinion ID: {{review.id}}</div>
      <button type="button" class="delete class='btn btn btn-primary">Delete</button>
      <button type="button" class="update class='btn btn btn-primary">Update</button>
  </section>
{{/each}}
{{else}}
<p>You have no opinions! Kept it all to yourself! Good job!</p>
{{/if}}
