<button type="button" class="close" aria-label="Close">
  <section aria-hidden="true">&times;</section>
</button>
{{#each reviews as |review|}}


    <section data-id="{{review.id}}" class="container-fluid">
    <h1> <small>{{review.topic}}</small></h1>

      <div>{{review.article}}</div>
      <div>Rating: {{review.star}}</div>
      <div>By: {{review.user.id}}</div>
      <button type="button" class="delete class='btn btn btn-primary">Delete</button>
      <button type="button" class="update class='btn btn btn-primary">Update</button>
  </section>



{{/each}}
