<button type="button" class="close" aria-label="Close">
  <section aria-hidden="true">&times;</section>
</button>
{{#each reviews as |review|}}

  <div>
    <section data-id="{{review.id}}">
    <h1> <small>Topic: {{review.topic}}</small></h1>
    <ul>
      <li>{{review.article}}</li>
      <li>Rating: {{review.star}}</li>
      <li>By: {{review.user.id}}</li>
    </ul>
  </section>
  </div>


{{/each}}
