<button type="button" class="close" aria-label="Close">
  <section aria-hidden="true">&times;</section>
</button>
{{#if reviews.length}}
{{#each reviews as |review|}}


    <section data-id="{{review.id}}" class="container-fluid">
    <h2>{{review.topic}}</h2>

      <div>{{review.article}}</div>
      <div>Rating: <span class="review-{{review.star}}"></span></div>
      <div>By: {{review.user.id}}</div>
      <div>Review ID: {{review.id}}</div>
      <button type="button" class="delete class='btn btn btn-primary">Delete</button>
      <button type="button" class="update class='btn btn btn-primary">Update</button>
  </section>
{{/each}}
{{else}}
<p>You have no reviews!</p>
{{/if}}
